.slide-slide {
  align-items: center;
  justify-content: center;
}
.slide-max-wdith {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.slide-text {
  color: var(--dl-color-scheme-white);
}
.slide-root-class-name {
  background-image: url("https://drive.google.com/uc?id=1UXaiH-YX5XgxwBhIJPkx7hPGk9Jh8QRP");
  background-size: 100% 100%;
}
.slide-root-class-name1 {
  background-image: url("https://drive.google.com/uc?id=1f41defCU0lQnhSK4Y6oxw-c87EnNAfPL");
  background-size: 100% 100%;
}
.slide-root-class-name2 {
  background-image: url("https://drive.google.com/uc?id=1LASHQEUukgUaMymdahlabE-zNgPzFHhQ");
  background-size: 100% 100%;
}
.slide-root-class-name3 {
  background-image: url("https://drive.google.com/uc?id=15NriOWmu10c4GO98X323wsyqwcHFV3fu");
  background-size: 100% 100%;
}
.slide-root-class-name4 {
  background-image: url("https://drive.google.com/uc?id=1kcyDMakrO0DqE0HMv-q6VJMrJkJY1LWq");
  background-size: 100% 100%;
}
@media (max-width: 991px) {
  .slide-root-class-name4 {
    background-color: #0d1f3a;
  }
}
